$grey: #808080;
$text_color: #333333;
$blue: #00619a;
$red: #d10017;

@mixin vert-align{
	font-size: 0;
	&:before{
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;
	}
	>*{
		vertical-align: middle;
		display: inline-block;
	}
}

