$grey: #808080;
$text_color: #333333;
$blue: #00619a;
$red: #d10017;

@mixin vert-align{
	font-size: 0;
	&:before{
		content: '';
		height: 100%;
		width: 0;
		display: inline-block;
		vertical-align: middle;
	}
	>*{
		vertical-align: middle;
		display: inline-block;
	}
}

@media (min-width:992px) and (max-width: 1145px){
	.order table {
		td.big_column{
			width: auto;
		}
		th.big_column{
			width: auto;
		}
	}
}
@media (min-width:992px) and (max-width: 1024px){
	.description .vendor {
		.price{
			font-size: 33px;
		}
		.count_block{
			.counts{
				font-size: 33px;
				height: 33px;
			}
		}
	}
}
@media (max-width: 1050px){
	.subscribe__container{
		&-text{
			font-size: 15px;
			span.red{
				font-size: 20px;
			}
		}
		.button{
			font-size: 17px;
		}
	}

}
@media (max-width: 991px){
	.description .slider_section{
		margin: 0 auto 30px;
		.slider-for-slide{
			min-height: 500px;
		}
	}
	.cat ul li img{
		display: block;
		margin: 0 auto 15px;
	}
	.description .vendor:before{
		display: none;
	}
	.leaders {
		.castom_leaders-next{
			right: 15px;
		}
		.castom_leaders-prev{
			left: 15px;
		}
	}
	.order{
		table {
			th{
				font-size: 13px;
				padding: 13px 15px;
				text-align: center;
				&.big_column{
					width: auto;
				}
			}
			td{
				font-size: 13px;
				&.big_column{
					width: auto;
					padding: 13px 15px;
				}
			}
		}
		.cupon{
			width: 415px;
		}
	}
	.subscribe__container{
		padding: 20px;
		&-text{
			float: none;
			background-image: none;
			margin-bottom: 10px;
			padding-right: 0;
		}
		.button{
			display: inline-block;
		}
	}
	.delivery_table table{
		th{
			font-size: 14px;
			&.big_column{
				width: auto;
			}
		}
		td{
			font-size: 13px;
			padding: 10px;
			&.big_column{
				width: auto;
			}
			p{
				font-size: 11px;
			}
		}

	}
	.details form {
		textarea{
			font-size: 17px;
		}
		input{
			font-size: 17px;
		}
	}
}

@media (max-width: 768px){
	.description__title{
		font-size: 25px;
		padding-bottom: 10px;
	}

	.order {
		.cupon{
			float: none;
			margin-bottom: 15px;
		}
		.alert{
			float: none;
			margin-bottom: 20px;
			display: block;
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

	}
	.details form {
		margin: 20px 0;
		.left_side, .right_side{
			float: none;
			width: 100%;
		}
		input{
			margin-right: 7px;
			margin-left: 7px;
			&:last-of-type{
				margin-bottom: 14px;
			}
		}
		textarea{
			margin-left: 7px;
		}

	}
	.details h1{
		font-size: 23px;
	}
	.summ__cart{
		padding: 15px;
		p{
			font-size: 17px;
		}
		span{
			font-size: 16px;
		}
	}
	.summ .button{
		max-width: 240px;
		font-size: 17px;
		margin-top: 15px;
		margin-bottom: 30px;
	}
}
@media (max-width: 700px){

}

@media (max-width: 600px){
	.review__block{
		.tab a{
			font-size: 19px;
		}
	}
	.order{
		padding-top: 50px;
		&__title{
			font-size: 25px;
			padding-bottom: 20px;
		}
		table{
			th{
				padding: 5px 9px;
			}
			td{

				padding: 5px 9px;
				&.big_column{
					width: 200px;
				}
			}

		}
		.count_block{
			padding-right: 0;
			.more{
				top: auto;
				left: 10px;
			}
			.less{
				bottom: auto;
			}
		}
	}
}

@media (max-width: 550px){
	.description .slider_section .slider-for-slide{
		min-height: 300px;
	}
	.cat ul li{
		display: inline-block;
		width: 50%;
		border-bottom: 1px solid $blue;
		vertical-align: bottom;
		&:nth-child(2n){
			border-right: none;
		}
		&:nth-child(3n), &:nth-child(4n){
			border-bottom: none;
			padding-top: 0;
			vertical-align: top;
			img{
				margin-top: 10px;
			}
		}
	}
	.description .vendor {
		.price{
			font-size: 25px;
		}
		.count_block{
			span{
				font-size: 25px;
			}
			.counts{
				font-size: 25px;
				height: 25px;
			}
			.more{
				top: -3px;
			}
			.less{
				bottom: -3px;
			}
		}
	}
	.button, .basket{
		font-size: 17px;
	}
	.review_form input{
		width: 100%;
		float: none;
		margin-top: 15px;
	}

	.review__block{
		.stars{
			padding-bottom: 15px;
			ul{
				li{
					width: 75px;
					i{
						font-size: 45px;
					}
					p{
						font-size: 13px;
					}
				}
			}
		}
		.tab a{
			font-size: 14px;
		}
	}

}

@media (max-width: 500px){
	.slider-leaders{
		.leaders-slide{
			&.slick-active{
				&:after{
					display: none;
				}
			}
		}
	}
	.description {
		.delivery{
			padding-left: 0;
			.left_side{
				width: 100%;
				float: none;
				padding-right: 15px;
				padding-left: 15px;
				border-right: none;
			}
			.right_side{
				width: 100%;
				float: none;
				padding-right: 15px;
				padding-left: 15px;
			}
		}
		.links .social li {
			margin-right: 15px;
			a {
				width: 40px;
				height: 40px;
				i{
					font-size: 18px;
				}
			}
		}
		.vendor {
			text-align: center;
			padding-left: 15px;
			.price{
				font-size: 25px;
			}
			.count_block{
				span{
					font-size: 19px;
					line-height: 1;
				}
				.counts{
					font-size: 19px;
					height: 19px;
					width: 27px;
				}
				.more{
					top: -5px;
				}
				.less{
					bottom: -5px;
				}
			}
			.basket{
				font-size: 15px;
				padding-left: 40px;
				float: none;
				display: block;
				margin: 10px auto;
				&:before{
					left: 12px;
					width: 18px;
					height: 18px;
					background-size: cover;
				}
			}
		}
	}
	.cat ul li span{
		font-size: 13px;
	}
	.formulare h1{
		font-size: 23px;
	}
	.leaders h1{
		font-size: 23px;
		margin-bottom: 20px;
	}
	.order {
		table{
			th{
				padding: 5px;
				font-size: 10px;
			}
			td{
				font-size: 10px;
				width: 20%;
				&.big_column{
					padding: 8px 5px;
				}
			}
		}
		.count_block{
			.counts{
				font-size: 13px;
			}
			.more {
				bottom: -15px;
				left: 0;
			}
			.less{
				bottom: -15px;
			}
			span{
				font-size: 12px;
			}
		}
		.alert{
			font-size: 13px;
		}
	}
}
@media (max-width: 480px){
	.subscribe__container{
		&-text{
			font-size: 11px;
		}
		.button{
			font-size: 11px;
		}
	}
	.delivery_table .second_table td{
		text-align: left;
		span{
			float: none;
		}
		p{
			display: inline-block;
			vertical-align: middle;
			float: none;
			img{
				max-width: 40px;
				margin-left: 6px;
			}
		}
		.cash{
			float: none;
		}

	}
}
@media (max-width: 440px){
	.review__block{
		.stars{
			padding-bottom: 10px;
			ul{
				li{
					width: 50px;
					i{
						font-size: 29px;
					}
					p{
						font-size: 9px;
					}
				}
			}
		}
		.tab a{
			font-size: 10px;
		}
	}
}
@media (max-width: 400px){
	.delivery_table{
		table{
			width: calc(100% + 30px);
			margin-left: -15px;
			margin-right: -15px;
			th{
				padding: 10px;
			}
		}
	}
	.details form {
		input{
			font-size: 13px;
			height: 30px;
		}
		textarea{
			height: 120px;
			font-size: 13px;
		}
	}
}
